<div style="text-align:center">
    <h1>
        Welcome to {{ pageTitle }} !
    </h1>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" style="margin-top:7px">{{pageTitle}}</a>
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                [routerLink]="['/welcome']">
                                Home
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operators
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/operators']">Operators</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" [routerLink]="['/add-operator']">Add Operator</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/products']">Products</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" [routerLink]="['/add-product']">Add Product</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/services']">Services</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" [routerLink]="['/add-service']">Add Service</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <!-- <app-operators>Loading operators ..</app-operators>
    <app-telecomservices>Loading services .</app-telecomservices>
    <app-products>Loading products ..</app-products> -->
</div>