<div class="panel panel-primary">
    <div class="panel-heading">Add Operator</div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="saveOperator()" [formGroup]="operatorForm">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error':operatorNameMsg}">
                    <label class="col-md-2 control-label" for="operatorName">Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="operatorName" type="text" placeholder="Operator Name (required)" formControlName="operatorName"
                        />
                        <span class="help-block" *ngIf="operatorNameMsg">Operator Name {{operatorNameMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':operatorCountryMsg}">
                    <label class="col-md-2 control-label" for="operatorCountry">Country</label>
                    <div class="col-md-8">
                        <input class="form-control" id="operatorCountry" type="text" placeholder="Operator Country (optional)" formControlName="operatorCountry"
                        />
                        <span class="help-block" *ngIf="operatorCountryMsg">Operator Country {{operatorCountryMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':imageUrlMsg}">
                    <label class="col-md-2 control-label" for="imageUrl">Image URL</label>
                    <div class="col-md-8">
                        <input class="form-control" id="imageUrl" type="text" placeholder="Image URL (optional)" formControlName="imageUrl" />
                        <span class="help-block" *ngIf="imageUrlMsg">Image URL {{imageUrlMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':ratingMsg}">
                    <label class="col-md-2 control-label" for="rating">Rating</label>
                    <div class="col-md-8">
                        <input class="form-control" id="rating" type="text" placeholder="Rating (optional)" formControlName="rating" />
                        <span class="help-block" *ngIf="ratingMsg">Rating {{ratingMsg}}</span>
                    </div>
                </div>
                <div class=" btn-group">
                    <div class="col-xs-4">
                        <span>
                            <button class="btn btn-primary" type="submit" [disabled]="!operatorForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                    <div class="col-xs-4">
                        <span>
                            <button class="btn btn-danger" type="reset" (click)='onReset()'>
                                Reset
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>