<div style="text-align:center">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h3>Filtered by: {{listFilter}}</h3>
                </div>
            </div>
            <div class='table-responsive'>
                <table class='table' *ngIf="telecomservicesObservable | async as telecomservices else empty">
                    <thead>
                        <tr>
                            <th>
                                <button class='btn btn-primary' (click)='toggleImage()'>
                                    {{showImage ? 'Hide' : 'Show'}} Image
                                </button>
                            </th>
                            <th>Telecom Service ID</th>
                            <th>Telecom Service Name</th>
                            <th>Telecom Service Type</th>
                            <th>Operator Id</th>
                            <th>Operator Name</th>
                            <th>Operator Service Id</th>
                            <th>Operator Package Id</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let telecomservice of telecomservices">
                            <td>
                                <img *ngIf='showImage' [src]='telecomservice.imageUrl' [title]='telecomservice.telecomServiceName' [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                            </td>
                            <td>#{{telecomservice.telecomServiceId}}</td>
                            <td>{{telecomservice.telecomServiceName}}</td>
                            <td>{{telecomservice.telecomServiceType}}</td>
                            <td>#{{telecomservice.operatorId}}</td>
                            <td>{{telecomservice.operatorName}}</td>
                            <td>#{{telecomservice.operatorServiceId}}</td>
                            <td>#{{telecomservice.operatorPackageId}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #empty> No Telecom Service Data Yet </ng-template>
            </div>
        </div>
    </div>
    <!-- <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div> -->
</div>