<div class="panel panel-primary">
    <div class="panel-heading">Add Product</div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">
            <fieldset>
                <!-- <div class="form-group" [ngClass]="{'has-error':productIdMsg}">
                    <label class="col-md-2 control-label" for="productId">ID</label>
                    <div class="col-md-8">
                        <input class="form-control" id="productId" type="text" placeholder="Product ID (required)" formControlName="productId" value="0"
                            hidden />
                        <span class="help-block" *ngIf="productIdMsg">Product ID {{productIdMsg}}</span>
                    </div>
                </div> -->
                <div class="form-group" [ngClass]="{'has-error':productNameMsg}">
                    <label class="col-md-2 control-label" for="productName">Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="productName" type="text" placeholder="Product Name (required)" formControlName="productName"
                        />
                        <span class="help-block" *ngIf="productNameMsg">Product Name {{productNameMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':productDescriptionMsg}">
                    <label class="col-md-2 control-label" for="productDescription">Description</label>
                    <div class="col-md-8">
                        <input class="form-control" id="productDescription" type="text" placeholder="Product Description (optional)" formControlName="productDescription"
                        />
                        <span class="help-block" *ngIf="productDescriptionMsg">Product Description {{productDescriptionMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':minPriceMsg}">
                    <label class="col-md-2 control-label" for="minPrice">Minimum Price</label>
                    <div class="col-md-8">
                        <input class="form-control" id="minPrice" type="text" placeholder="Minimum Price (optional)" formControlName="minPrice" />
                        <span class="help-block" *ngIf="minPriceMsg">Minimum Price {{minPriceMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':maxPriceMsg}">
                    <label class="col-md-2 control-label" for="maxPrice">Maximum Price</label>
                    <div class="col-md-8">
                        <input class="form-control" id="maxPrice" type="text" placeholder="Maximum Price (optional)" formControlName="maxPrice" />
                        <span class="help-block" *ngIf="maxPriceMsg">Maximum Price {{maxPriceMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':imageUrlMsg}">
                    <label class="col-md-2 control-label" for="operatorPackageId">Image URL</label>
                    <div class="col-md-8">
                        <input class="form-control" id="imageUrl" type="text" placeholder="Image URL (optional)" formControlName="imageUrl" />
                        <span class="help-block" *ngIf="imageUrlMsg">Image URL {{imageUrlMsg}}</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':ratingMsg}">
                    <label class="col-md-2 control-label" for="rating">Rating</label>
                    <div class="col-md-8">
                        <input class="form-control" id="rating" type="text" placeholder="Rating (optional)" formControlName="rating" />
                        <span class="help-block" *ngIf="ratingMsg">Rating {{ratingMsg}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" type="submit" [disabled]="!productForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>