td{
    word-wrap: break-word;
    text-justify: distribute;
    width: 15%;
}
img{
    align-content: center;
    max-width: 60px;
    max-height: 50px;
}
.panel{
    background-color: rgba(238, 222, 222,0.8);
}
a{
    font-style: italic;
    color: crimson;
}