/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bitter|Exo+2');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Exo 2', sans-serif;
    line-height: 150%;
    font-size: 1.8em;
    font-weight: 600;
}
div.panel-heading {
    font-family: 'Bitter', serif;
    font-size: x-large;
}
thead {
    color: #337AB7;
}
tr {
    text-align: left;
}
.test-endpoints{
    position: fixed;
    top: 0;
    left: 0;
}
div.panel-heading {
    font-size: x-large;
    width: 50%;
    margin: auto;
}
body{
    width: 75%;
    margin: auto;
}