/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bitter|Exo+2');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 75%;
    margin: auto;
    font-family: 'Exo 2', sans-serif;
    line-height: 150%;
    font-size: 1.8em;
    font-weight: 600;
    /* background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url(./assets/images/gotham.jpg) no-repeat fixed; */
    background: url(/assets/images/gotham.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.panel-heading {
    font-family: 'Bitter', serif;
    font-size: x-large;
}
thead {
    color: #337AB7;
}
tr {
    text-align: left;
}
.test-endpoints{
    position: fixed;
    top: 0;
    left: 0;
}
div.panel-heading {
    font-size: x-large;
    width: 50%;
    margin: auto;
}