/* You can add global styles to this file, and also import other style files */
/* li {
    font-size: large;
} */

/* div.panel-heading {
   font-size: x-large;
} */
thead {
    color: #337AB7;
}
tr {
    text-align: left;
}
.test-endpoints{
    position: fixed;
    top: 0;
    left: 0;
}
div.panel-heading {
    font-size: x-large;
    width: 50%;
    margin: auto;
}
body{
    width: 75%;
    margin: auto;
}